* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
}

.grid {
    height: 960px;
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    /* border: 1px black solid; */
    transition: all 0.2s ease;
}

.paint {
    background-color: gray;
}

.adjust-grid {
    padding: 8px 30px;
    margin-top: 16px;
}

.colour-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.colour {
    height: 30px;
    width: 30px;
    border: 1px black solid;
    transition: all 0.2s ease;
}

.selected-colour {
    height: 35px;
    width: 35px;
    box-shadow: 10px;
}
