* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid {
    height: 960px;
    width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;    
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    /* border: 1px black solid; */
    transition: all 0.2s ease;
}

.paint {
    background-color: gray;
}
